.milestones {
    color: black;
    font-size: 20px;
    font-style: bold;
}
.explain {
    font-size: 20px;
}
.center {
    text-align: center;
}
div {
    display: block;
}
.one {
    background-color: #4876FF;
}
.two {
    background-color: #2f55c7;
}
.three {
    background-color: #2e4daa;
    color: white
}
.four {
    background-color: #1e1e8d;
    color: white
}
.five {
    background-color: #112561;
    color: white
}